{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header gp-main">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
	<div class="well bs-component">
	  <form class="form-horizontal" id="new-user" method="POST" action="/add-user">
	    <fieldset>
	      <legend>Add new user:</legend>
	      <div class="form-group">
		<label for="userName" class="col-lg-3 control-label">New user name</label>
		<div class="col-lg-9">
		  <input type="text" class="form-control" id="userName" name="userName"
			 placeholder="User Name"
			 data-toggle="tooltip" data-placement="top"
			 title="User's Fullname"			 
			 required aria-required="true"
			 pattern="^([A-Za-z]+\s*)+$"
			 autofocus
			 aria-describedby="name-format"/>
		  <span id="name-format" class="help">The user's full name.</span>
		</div>
	      </div>
	      <div class="form-group">
		<label for="loginName" class="col-lg-3 control-label">Login name</label>
		<div class="col-lg-9">
		  <input type="text" class="form-control" id="loginName" name="loginName"
			 placeholder="Login Name"
			 data-toggle="tooltip" data-placement="top"
			 title="Login name for the user. Minimum length 4, no spaces..."
			 required aria-required="true"
			 pattern="^([A-Za-z0-9]){4,}$"
			 aria-describedby="login-format"
			 >
		  <span id="login-format" class="help">At least 4 alphanumeric characters.</span>
		</div>
	      </div>	      
	      <div class="form-group">
		<label for="inputPassword" class="col-lg-3 control-label">New Password</label>
		<div class="col-lg-9">
		  <input type="password" class="form-control" id="inputPassword" name="inputPassword"
			 placeholder="Password"
			 required aria-require="true"
			 pattern="^([A-Za-z0-9]){4,}$"
			 aria-describedby="password-format"
			 >
		  <span id="password-format" class="help">
		    At least 4 alphanumeric characters. Try to include at least one capital and numeral.
		  </span>
		</div>
	      </div>
	      <div class="form-group">
		<label for="confirmPassword" class="col-lg-3 control-label">Confirm Password</label>
		<div class="col-lg-9">
		  <input type="password" class="form-control" id="confirmPassword"
			 placeholder="Confirm Password"
			 required aria-require="true"
			 pattern="^([A-Za-z0-9]){4,}$"
			 aria-describedby="password-format">
		</div>
	      </div>	      
	      <div class="form-group">
		<label class="col-lg-3 control-label">Role:</label>
		<div class="col-lg-4">
		  <div class="checkbox"
		       data-toggle="tooltip" data-placement="top"
		       title="The user will have the ability to perform all tasks...">
		    <label>
		      <input type="checkbox" name="role" id="role-full" value="full-control"
			     >
		      Full Control
		    </label>
		  </div>
		  <div class="checkbox"
		       data-toggle="tooltip" data-placement="top"
		       title="The user will be able to edit patient records, but can't add new
			      users, or modify other user's patient records...">
		    <label>
		      <input type="checkbox" name="role" id="role-clinician" value="clinician">
		      Clinician Role
		    </label>
		  </div>
		  <div class="checkbox"
		       data-toggle="tooltip" data-placement="top"
		       title="The user will be able to perform admin tasks like adding
			      new users, and making appointments...">
		    <label>
		      <input type="checkbox" name="role" id="role-admin" value="admin">
		      Administration Role
		    </label>
		  </div>
		  <div class="checkbox"
		       data-toggle="tooltip" data-placement="top"
		       title="The user can read, but not modify the data...">
		    <label>
		      <input type="checkbox" name="role" id="role-read-only" value="ro">
		      Read Only
		    </label>
		  </div>		  
		</div>
	      </div>
	      <div class="form-group">
		<div class="col-lg-9 col-lg-offset-2">
		  <input type="reset" class="btn btn-default" value="Cancel">
		  <input type="submit" class="btn btn-primary" value="Submit">
		</div>
	      </div>
	    </fieldset>
	  </form>
	</div>
      </div>    
    </div>
  </div>
</div> <!-- container-fluid -->
{% endblock %}
