{% extends "base.html" %}
{% block navbar-right %}
<form class="form-inline navbar-right right-navbar" id="list-search">
  <button class="button btn-info" type="button">Select</button>
  <input class="form-control" type="text" placeholder="{{find-entity}}">
</form>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-md-4 left-panel">
	<!--<h2>User controls:</h2>-->
	<button type="button" class="btn btn-block btn-primary gp-main-button"
		id="new-user">
	  <h4>Add new user</h4></button>
	<button type="button" class="btn btn-block btn-primary gp-main-button"
		id="remove-user" disabled="disabled">
	  <!--data-toggle="modal" data-target="#ruserDialog">-->
	  <h4>Remove selected user</h4>
	</button>
	<button type="button" class="btn btn-block btn-primary gp-main-button"
		id="edit-profile" disabled="disabled">
	  <h4>Edit selected user profile</h4>
	</button>
	<hr>
	<div style="visibility:hidden;" id="user-summary">
	<h2>User Summary:</h2>
	<div class="well">
	  <form class="form-horizontal">
	    <div class="form-group">
	      <label class="col-sm-2 control-label">Name: </label>
	      <div class="col-sm-10">
		<p class="form-control-static" id="user-fullName">Michael Webster</p>
	      </div>
	    </div>  <!-- form group. -->
	    <div class="form-group">
	      <label class="col-sm-2 control-label">Login: </label>
	      <div class="col-sm-10">
		<p class="form-control-static" id="user-login">mweb</p>
	      </div>
	    </div> <!-- form group. -->
	    <div class="form-group">
	      <label class="col-sm-2 control-label">Roles:</label>
	      <div class="col-sm-10">
		<p class="form-control-static" id="user-roles">roles</p>
	      </div>
	    </div> <!-- form group. -->
	  </form>
	</div>
	</div>
      </div>
      <div class="col-md-8" >
	<div class="col-lg-12 vertical-line" id="main-contents">
	  <h2>{{entity-heading}}</h2>
	  <table class="table table-striped table-hover scroll-y" id="{{plist}}">
	  </table>
	</div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ruserDialog" tabindex="-1" role="dialog"
       aria-labelledBy="ruDialogLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal"
		  aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <h4 class="modal-title" id="ruDialogLabel">Confirm Remove User:</h4>
	</div>
	<div class="modal-body">
	  <p id="removeUserMsg"/>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default"
		  id="cancelRuser">
	    Cancel
	  </button>
	  <button type="button" class="btn btn-primary"
		  id="confirmRuser">Confirm</button>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

