.full {
    background: url('/img/medical-equipment-dull-dark.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
		    
.login-button
{
    margin: 0px 5px 0px 0px;
}

.login-container
{
    margin-top:  40%;
    opacity: .6;
}

#new-user input[type=text]:valid,
#new-user input[type=password]:valid,
{
    background:rgba(179, 255, 221, 1.0);
}

#new-user input[type=text]:invalid,
#new-user input[type=password]:invalid
{
    background:rgba(245, 203, 201, 1.0);
}

#new-user input[type=text]input:invalid + .help,
#new-user input[type=password]input:invalid + .help
{
    display:inline-block;
}

#calendar {
    margin-top: 60px;
};

#genderRadio
{
    margin-top:-35px;
}

.vertical-line
{
    border-left: 1px dotted black;
    //border: 5px solid black;
}

button.btn[disabled]
{
    opacity: 0.2;
};

/*
 * A class for a scrollable table.
 *
 */
.scroll-y {
    display: block;
    width : 100%;
}

.scroll-y > tbody {
    display: block;
    overflow-y: scroll;
    height: 700px;
    width: 100%;
}

.scroll-y > thead {
    display: block;
    width: 100%;
}


.scroll-y > thead > tr,
.scroll-y > tbody > tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

.scroll-y > tbody > tr > td,
.scroll-y > thead > tr > th
 {
    width: 50%;
 }

// Invert active row in striped tables.
.scroll-y > tbody > tr.gp-active > td
{
    color:red !important;
}

.gp-main
{
    margin-top: 80px;
}

#consult-content,
#consult-editor1
{
    margin-top: 40px;
    height: 700px;
    width: 100%;
    overflow-y: auto;
    border: 1px solid black;
}

.right-navbar
{
    margin-right: 20px;
    margin-top : 5px;
}

div.left-panel
{
    margin-top: 60px;
}

.gp-main-button
{
    margin-bottom: 10px;
    color: white;
    background: -webkit-linear-gradient(top, #2F2727, #1a82f7);    
};


