{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header gp-main">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	<div class="well bs-component">
	  <form class="form-horizontal" id="new-patient" method="POST" action="/add-new-patient">
	    <fieldset>
	      <legend>Add new patient:</legend>
	      <div class="form-group col-md-12">
		<div class="col-md-6">
		  <label for="patientName" class="col-md-4 control-label">New patient name:</label>
		  <div class="col-md-8">
		    <input type="text" class="form-control" id="patientName" name="patientName"
			   placeholder="Patient Name"
			   data-toggle="tooltip" data-placement="top"
			   title="Patient's Fullname"			 
			   required aria-required="true"
			   pattern="^([A-Za-z]+\s*)+$"
			   autofocus
			   aria-describedby="name-format"/>
		    <span id="name-format" class="help">Required: The patient's full name.</span>
		  </div>
		</div>
		<div class="col-md-3 col-md-offset-1">
		  <label for="patientTitle" class="col-md-4 control-label">Title: </label>
		  <div class="col-md-8">
		    <input class="form-control" list="titleList" name="patientTitle"
			   data-toggle="tooltip" data-placement="top"
			   title="Patient Title/honorific"
			   aria-describedby="patTitleFormat">
		    <datalist id="titleList">
		      <option value="Mr">
		      <option value="Miss">
		      <option value="Ms">
		      <option value="Mrs">
		      <option value="Dr">
		      <option value="Prof">
		      <option value="Rev">
		    </datalist>
		  </input>
		  <span id="name-format" class="help" style="visibility:hidden;">
		    The patient's honorific or title.</span>
		  </div>
		</div>
		<div class="col-md-2" id="genderRadio">
		  <label class="col-md-6 control-label">Patient Gender:</label>
		  <div class="col-md-6">
		    <div class="radio"
			 data-toggle="tooltip" data-placement="top"
			 title="The patient is male...">
		      <label>
			<input type="radio" name="patientGender" id="patient-male"
			       value="Male"
			       >
			Male
		      </label>
		    </div>
		    <div class="radio"
			 data-toggle="tooltip" data-placement="top"
			 title="The patient is female...">
		      <label>
			<input type="radio" name="patientGender" id="gender-female"
			       value="Female">
			Female
		      </label>
		    </div>
		    <div class="radio"
			 data-toggle="tooltip" data-placement="top"
			 title="The patient's gender is other...">
		      <label>
			<input type="radio" name="patientGender" id="gender-other"
			       value="Other">
			Other
		      </label>
		    </div>		      
		  </div>
		</div>
		
	      </div>
	      <div class="form-group col-md-12">
		<div class="col-md-6">
		  <label for="patientDob" class="col-md-4 control-label">Date of Birth: </label>
		  <div class="col-md-8">
		    <input type="date" class="form-control" id="patientDob" name="patientDob"
			   data-toggle="tooltip" data-placement="top"
			   title="Patient's Date of Birth"			 
			   autofocus
			   aria-describedby="dob-format"/>
		    <span id="dob-format" class="help">
		      Patient's date of birth: dd/mm/yyyy</span>
		  </div>
		</div>
		<div class="col-md-6">
		  <label for="patientPhone" class="col-md-4 control-label">Phone Number: </label>
		  <div class="col-md-8">
		    <input type="text" class="form-control" id="patientPhone" name="patientPhone"
			   data-toggle="tooltip" data-placement="top"
			   title="Patient's phone number"
			   autofocus
			   aria-describedby="phone-number"/>
		    <span id="dob-format" class="help" style="visibility:hidden;">
		      The patient's phone number...</span>
		  </div>
		</div>
	      </div>
	      <div class="form-group col-md-12">
		<div class="col-md-6">
		  <label for="streetAddress" class="col-md-4 control-label">Street Address: </label>
		  <div class="col-md-8">
		    <input type="text" class="form-control" id="streetAddress"
			   name="streetAddress"
			   data-toggle="tooltip" data-placement="top"
			   title="Patient's Street address"			 
			   autofocus
			   aria-describedby="sa-format"/>
		    <span id="sa-format" class="help" style="visibility:hidden;">
		      Patient's street address</span>
		  </div>
		</div>
		<div class="col-md-6">
		  <label for="pPostCode" class="col-md-4 control-label">Postcode: </label>
		  <div class="col-md-8">
		    <input type="text" class="form-control" id="pPostCode"
			   name="pPostCode"
			   data-toggle="tooltip" data-placement="top"
			   title="The patient's postcode."
			   autofocus
			   aria-describedby="city-desc"/>
		    <span id="city-desc" class="help" style="visibility:hidden;">
		      The patient's postcode.
		      </span>
		  </div>
		</div>
	      </div>
	      <div class="form-group col-md-12">
		<div class="col-md-6">
		  <label for="pCity" class="col-md-4 control-label">City or Town: </label>
		  <div class="col-md-8">
		    <input type="text" class="form-control" id="pCity" name="pCity"
			   data-toggle="tooltip" data-placement="top"
			   title="City or town the patient lives in."
			   autofocus
			   aria-describedby="city-desc"/>
		    <span id="city-desc" class="help" style="visibility:hidden;">
		      The city or town the patient lives in.
		      </span>
		  </div>
		</div>
		<div class="col-md-6">
		  <label for="medicareNum" class="col-md-4 control-label">Medicare Number:</label>
		  <div class="col-md-8">
		    <input type="text" class="form-control" id="medicareNum"
			   name="medicareNum"
			   data-toggle="tooltip" data-placement="top"
			   title="The patient's medicare number."			 
			   autofocus
			   aria-describedby="mnum-format"/>
		    <span id="mnum-format" class="help" style="visibility:hidden;">
		      The patient's medicare number.</span>
		  </div>
		</div>
	      </div>
	      <div class="form-group col-md-12">
		<div class="col-md-6">
		  <label for="stateAddress" class="col-md-4 control-label">State: </label>
		  <div class="col-md-8">
		    <input type="text" class="form-control" id="stateAddress"
			   name="stateAddress"
			   data-toggle="tooltip" data-placement="top"
			   title="State the patient lives in."			 
			   autofocus
			   aria-describedby="state-format"/>
		    <span id="state-format" class="help" style="visibility:hidden;">
		      State patient lives in</span>
		  </div>
		</div>
		<div class="col-md-6">
		  <label for="pEmail" class="col-md-4 control-label">Email: </label>
		  <div class="col-md-8">
		    <input type="email" class="form-control" id="pEmail"
			   name="pEmail"
			   data-toggle="tooltip" data-placement="top"
			   title="The patient's email address."
			   autofocus
			   aria-describedby="emailDesc"/>
		    <span id="emailDesc" class="help" style="visibility:hidden;">
		      The patient's email address.
		      </span>
		  </div>
		</div>
	      </div>
	      <div class="form-group">
		<div class="col-md-12 col-md-offset-5">
		  <input type="reset" class="btn btn-default" value="Cancel">
		  <input type="button" class="btn btn-primary" value="Submit">
		</div>
	      </div>
	    </fieldset>
	  </form>
	</div>
      </div>    
    </div>
  </div>
  <div class="modal fade" id="addPatientDialog" tabindex="-1" role="dialog"
       aria-labelledBy="addPatientDialogLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal"
		  aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <h4 class="modal-title" id="addPatientDialogLabel">Confirm add patient:</h4>
	</div>
	<div class="modal-body">
	  <p id="confirmAddPatientMessage"/>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default"
		  id="cancelAddPatient">
	    Cancel
	  </button>
	  <button type="button" class="btn btn-primary"
		  id="confirmAddPatient">Confirm</button>
	</div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="errorDialog" tabindex="-1" role="dialog"
       aria-labelledBy="errorDialogLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal"
		  aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <h4 class="modal-title" id="errorDialogLabel">Error - Duplicate Patient:</h4>
	</div>
	<div class="modal-body">
	  <p id="errorMessage"/>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default"
		  id="errorCancel">
	    Cancel
	  </button>
	</div>
      </div>
    </div>
  </div>
</div> <!-- container-fluid -->
{% endblock %}
