{% block header %}
<!DOCTYPE html>
<html>
  <head>
    <!--<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>-->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <title>{{title}}</title>
    {% for css-file in css %}
    <link href="{{css-file}}" rel="stylesheet">
    {% endfor %}
    <script src="/js/require_config.js"></script>
    <script data-main="{{js-file}}" src="/bower_components/requirejs/require.js">
    </script>
  </head>
  {% endblock %}
  {% block navtop %}
  <body class="full">
    <nav class="navbar navbar-default navbar-fixed-top navbar-left">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle"
		  aria-expanded="false"
		  data-toggle="collapse" data-target="#navbar-main">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">GpApp</a>
	</div>
	<div class="collapse in navbar-collapse" id="navbar-main">
	  <ul class="nav navbar-nav">
	    <li>
	      <a href="/">Home
	      </a>
	    </li>
	    <li>
	      <a href="/login">Login
	      </a>
	    </li>
	    <li>
	      <a href="/patient-list">Patient List
	      </a>
	    </li>
	    <li>
	      <a href="/about.html">About
	      </a>
	    </li>
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="help">Help
		<span class="caret">
		</span>
	      </a>
	      <ul aria-labelledby="help" class="dropdown-menu">
		<li>
		  <a href="#">Help1
		  </a>
		</li>
		<li>
		  <a href="#">Help2
		  </a>
		</li>
		<li>
		  <a href="#">Help3
		  </a>
		</li>
		<li>
		  <a href="#">Help4
		  </a>
		</li>
	      </ul>
	    </li>
	  </ul>
	  {% block navbar-right %}
	  {% endblock %}
	</div>
      </div>
    </nav>
    {% endblock %}
    {% block content %}
    <div class="container">
      <div class="page-header" id="banner">
	<div class="row">
	  <div class="col-lg-12" id="main-contents">
	    <h1>{{heading}}</h1>
	  </div>
	</div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
