{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4 left-panel">
      </div>
      <div class="col-md-8">
	<div class="col-md-12" id="main-contents">      
	  <div id="calendar"></div>
	</div>
      </div>
    </div> <!-- row -->
  </div>
</div>
{% endblock %}
