{% extends "base.html" %}
{% block navbar-right %}
<form class="form-inline navbar-right right-navbar" id="list-search">
  <button class="button btn-info" type="button">Select</button>
  <input class="form-control" type="text" placeholder="{{find-entity}}">
</form>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-md-4 left-panel">
	<button type="button" class="btn btn-block btn-primary gp-main-button"
		id="consult-patient" disabled="disabled">
	  <h4>Patient Consultation </h4>
	</button>	
	<button type="button" class="btn btn-block btn-primary gp-main-button"
		id="new-patient">
	  <h4>Add new Patient</h4></button>
	<button type="button" class="btn btn-block btn-primary gp-main-button"
		id="remove-patient" disabled="disabled">
	  <!--data-toggle="modal" data-target="#ruserDialog">-->
	  <h4>Remove selected Patient</h4>
	</button>
	<button type="button" class="btn btn-block btn-primary gp-main-button"
		id="edit-patient" disabled="disabled">
	  <h4>Edit selected patient details</h4>
	</button>
	<hr>
	<div style="visibility:hidden;" id="patient-summary">
	  <h2>Patient Summary:</h2>
	  <div class="well">
	    <form class="form-horizontal">
	      <div class="form-group">
		<label class="col-sm-5 control-label">Name: </label>
		<div class="col-sm-7">
		  <p class="form-control-static" id="patient-fullName"></p>
		</div>
	      </div>  <!-- form group. -->
	      <div class="form-group">
		<label class="col-sm-5 control-label">Title: </label>
		<div class="col-sm-7">
		  <p class="form-control-static" id="patient-title"></p>
		</div>
	      </div>  <!-- form group. -->
	      <div class="form-group">
		<label class="col-sm-5 control-label">Date of Birth: </label>
		<div class="col-sm-7">
		  <p class="form-control-static" id="patient-dob"></p>
		</div>
	      </div> <!-- form group. -->
	      <div class="form-group">
		<label class="col-sm-5 control-label">Phone Number:</label>
		<div class="col-sm-7">
		  <p class="form-control-static" id="patient-phone"></p>
		</div>
	      </div> <!-- form group. -->
	    </form>
	  </div>
	</div>
      </div>
      <div class="col-md-8">
	<div class="col-lg-12" id="main-contents">
	  <h1>{{entity-heading}}</h1>
	  <table class="table table-striped table-hover table-bordered scroll-y" id="{{plist}}">
	  </table>
	</div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="rPatientDialog" tabindex="-1" role="dialog"
       aria-labelledBy="rpDialogLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal"
		  aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	  <h4 class="modal-title" id="rpDialogLabel">Confirm Remove Patient:</h4>
	</div>
	<div class="modal-body">
	  <p id="removePatientMsg"/>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default"
		  id="cancelRPatient">
	    Cancel
	  </button>
	  <button type="button" class="btn btn-primary"
		  id="confirmRPatient">Confirm</button>
	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

