{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="page-header gp-main" id="main-appointments">
    <div class="row">
      <div class="col-lg-12" id="main-appt-contents">
	<!-- <h1>{{new-heading}}</h1>-->
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist" id="main-appt-tabs">
	  <li role="presentation" class="active">
	    <a href="#display-schedules" aria-controls="home" role="tab"
	       data-toggle="tab">Clinician Roster</a>
	  </li>
	  <li role="presentation">
	    <a href="#assign-schedules" aria-controls="profile" role="tab" data-toggle="tab">
	      Assign schedules</a>
	  </li>
	  <li role="presentation">
	    <a href="#create-schedules" aria-controls="messages" role="tab" data-toggle="tab">
	      Create Schedules</a>
	  </li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
	  <!-- Current Appointments Tab. -->
	  <div role="tabpanel" class="tab-pane active" id="display-schedules">
	    <div class="row">
	      <div class="col-lg-3">
		<h4>Select Clinicians to view:</h4>
		<table class="table table-responsive table-bordered table-hover"
		       id="selectClinician">
		  <thead>
		    <tr>
		      <th>Clinician</th>
		      <th>Display Schedule</th>
		    </tr>
		  </thead>
		  <tbody></tbody>
		</table>
	      </div>
	      <div class="col-lg-9">
		<h3>Clinician Roster:</h3>
	      </div>
	    </div>
          </div>
	  <!-- Consultation. -->
	  <div role="tabpanel" class="tab-pane container-fluid" id="assign-schedules">
	    <h3>Assign schedules to clinicians:</h3>
	  </div>
	  <!-- Correspondence Tab. -->
	  <div role="tabpanel" class="tab-pane" id="create-schedules">
	    <div class="row">
	      <div class="col-lg-5">
		<h3>Existing Schedules:</h3>
		<div id="schedule-table">
		  
		</div>
	      </div>
	      <div class="col-lg-7">
		<h3>Schedule Detail:</h3>
		<div class="well bs-component">
		  <form class="form-horizontal" id="new-user" method="POST" action="/add-user">
		    <fieldset>
		      <legend>Add new user:</legend>
		      <div class="form-group">
			<label for="userName" class="col-lg-3 control-label">New user name</label>
			<div class="col-lg-9">
			  <input type="text" class="form-control" id="userName" name="userName"
				 placeholder="User Name"
				 data-toggle="tooltip" data-placement="top"
				 title="User's Fullname"			 
				 required aria-required="true"
				 pattern="^([A-Za-z]+\s*)+$"
				 autofocus
				 aria-describedby="name-format"/>
			  <span id="name-format" class="help">The user's full name.</span>
			</div>
		      </div>
		      <div class="form-group">
			<label for="loginName" class="col-lg-3 control-label">Login name</label>
			<div class="col-lg-9">
			  <input type="text" class="form-control" id="loginName" name="loginName"
				 placeholder="Login Name"
				 data-toggle="tooltip" data-placement="top"
				 title="Login name for the user. Minimum length 4, no spaces..."
				 required aria-required="true"
				 pattern="^([A-Za-z0-9]){4,}$"
				 aria-describedby="login-format"
				 >
			  <span id="login-format" class="help">At least 4 alphanumeric characters.</span>
			</div>
		      </div>	      
		      <div class="form-group">
			<label for="inputPassword" class="col-lg-3 control-label">New Password</label>
			<div class="col-lg-9">
			  <input type="password" class="form-control" id="inputPassword" name="inputPassword"
				 placeholder="Password"
				 required aria-require="true"
				 pattern="^([A-Za-z0-9]){4,}$"
				 aria-describedby="password-format"
				 >
			  <span id="password-format" class="help">
			    At least 4 alphanumeric characters. Try to include at least one capital and numeral.
			  </span>
			</div>
		      </div>
		      <div class="form-group">
			<label for="confirmPassword" class="col-lg-3 control-label">Confirm Password</label>
			<div class="col-lg-9">
			  <input type="password" class="form-control" id="confirmPassword"
				 placeholder="Confirm Password"
				 required aria-require="true"
				 pattern="^([A-Za-z0-9]){4,}$"
				 aria-describedby="password-format">
			</div>
		      </div>	      
		      <div class="form-group">
			<label class="col-lg-3 control-label">Role:</label>
			<div class="col-lg-4">
			  <div class="checkbox"
			       data-toggle="tooltip" data-placement="top"
			       title="The user will have the ability to perform all tasks...">
			    <label>
			      <input type="checkbox" name="role" id="role-full" value="full-control"
				     >
			      Full Control
			    </label>
			  </div>
			  <div class="checkbox"
			       data-toggle="tooltip" data-placement="top"
			       title="The user will be able to edit patient records, but can't add new
				      users, or modify other user's patient records...">
			    <label>
			      <input type="checkbox" name="role" id="role-clinician" value="clinician">
			      Clinician Role
			    </label>
			  </div>
			  <div class="checkbox"
			       data-toggle="tooltip" data-placement="top"
			       title="The user will be able to perform admin tasks like adding
				      new users, and making appointments...">
			    <label>
			      <input type="checkbox" name="role" id="role-admin" value="admin">
			      Administration Role
			    </label>
			  </div>
			  <div class="checkbox"
			       data-toggle="tooltip" data-placement="top"
			       title="The user can read, but not modify the data...">
			    <label>
			      <input type="checkbox" name="role" id="role-read-only" value="ro">
			      Read Only
			    </label>
			  </div>		  
			</div>
		      </div>
		      <div class="form-group">
			<div class="col-lg-9 col-lg-offset-2">
			  <input type="reset" class="btn btn-default" value="Cancel">
			  <input type="submit" class="btn btn-primary" value="Submit">
			</div>
		      </div>
		    </fieldset>
		  </form>
		</div>
	      </div>    
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>	  
{% endblock %}
