{% extends "base.html" %}
{% block content %}
<div class="container on-screen" id="roster-tabs">
  <div class="page-header gp-main" id="main-appointments">
    <div class="row">
      <div class="col-md-12" id="main-appt-contents">
	<!-- <h1>{{new-heading}}</h1>-->
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist" id="main-appt-tabs">
	  <li role="presentation" class="active">
	    <a href="#existing-rosters" aria-controls="home" role="tab"
	       data-toggle="tab">Existing Rosters</a>
	  </li>
	  <li role="presentation">
	    <a href="#new-roster-tab" aria-controls="profile" role="tab"
	       data-toggle="tab" id="cnr">Create New Roster</a>
	  </li>
	  <li role="presentation">
	    <a href="#clinician-rosters" aria-controls="profile" role="tab" data-toggle="tab">
	      Clinician's Rosters</a>
	  </li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
	  <!-- Current Appointments Tab. -->
	  <div role="tabpanel" class="tab-pane active" id="existing-rosters">
	    <div class="row">
	      <div class="panel panel-primary">
		<div class="panel-heading">
		  <h2 class="panel-title">Existing Rosters</h2>
		</div>
		<div class="panel-body">
		  Select an existing roster to view and/or edit, or create a new roster.
		</div>
		<table class="table table-responsive table-bordered table-hover"
		       id="rosterTable">
		  <thead>
		    <tr>
		      <th>First Day</th>
		      <th>Last Day</th>
		      <th>Clinicians</th>
		      <th>Roster Name</th>
		      <th>Description</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Tue Jun 21 2016</td>
		      <td>Tue Jun 28 2016</td>
		      <td>Clinicians</td>
		      <td>FirstRoster</td>		      
		      <td>A Description.</td>
		    </tr>
		  </tbody>
		</table>
		<div class="panel-footer col-md-12">
		  <div class="col-md-3">
		    <button type="button" class="btn btn-block btn-primary gp-main-button"
			    id="new-roster"
			    onclick="document.getElementById('cnr').click()">
		      <h4>New Roster</h4>
		    </button>
		  </div>
		  <div class="col-md-3">
		    <button type="button" class="btn btn-block btn-primary gp-main-button"
			    id="edit-roster" disabled="disabled">
		      <h4>Edit Selected Roster</h4>
		    </button>
		  </div>
		</div>
	      </div>
	    </div>
          </div>
	  <!-- New Roster: -->
	  <div role="tabpanel" class="tab-pane container-fluid" id="new-roster-tab">
	    <div class="panel panel-primary">
	      <div class="panel-heading">
		<h2 class="panel-title">Create New Roster</h2>
	      </div>
	      <div class="panel-body">
		<form class="form-horizontal" id="create-new-roster"
		      method="POST" action="/new-roster">
		  <fieldset>
		    <div class="row">
		      <div class="col-md-6">
			<div class="form-group">
			  <label for="firstDate" class="col-md-3 control-label">
			    First Date:
			  </label>
			  <div class="col-md-7">
			    <input type="date" class="form-control" id="firstDate" name="firstDate"
				   data-toggle="tooltip" data-placement="top"
				   title="The date of the first day covered by this roster."
				   auto-focus
				   aria-describedby="firstDateFormat"/>
			    <span id="firstDateFormat" class="help" style="visibility:hidden">
			      Date of first day covered by the new roster.
			    </span>
			  </div>
			</div>
			<div class="form-group">
			  <label for="lastDate" class="col-md-3 control-label">
			    Last Date:
			  </label>
			  <div class="col-md-7">
			    <input type="date" class="form-control" id="lastDate" name="lastDate"
				   data-toggle="tooltip" data-placement="top"
				   title="The date of the last day covered by this roster."
				   aria-describedby="lastDateFormat"/>
			    <span id="lastDateFormat" class="help" style="visibility:hidden">
			      Date of last day covered by the new roster.
			    </span>
			  </div>
			</div>
			<div class="form-group">
			  <label for="rosterName" class="col-md-3 control-label">
			    Roster Name:
			  </label>
			  <div class="col-md-7">
			    <input type="text" class="form-control"
				   id="rosterName" name="rosterName"
				   data-toggle="tooltip" data-placement="top"
				   title="Enter a name for the roster."
				   aria-describedby="rosterNameFormat"
				   place-holder="Roster name.">
			    <span id="rosterDescFormat" class="help" style="visibility:hidden">
			      Enter a name for the roster.
			    </span>
			  </div>
			</div>			
		      </div>
		      <div class="col-md-6">
			<div class="form-group">
			  <label for="rosterDescription" class="col-md-3 control-label">
			    Description:
			  </label>
			  <div class="col-md-7">
			    <textarea class="form-control" rows="4"
				      id="rosterDescription" name="rosterDescription"
				      data-toggle="tooltip" data-placement="top"
				      title="Enter a description of the roster."
				      aria-describedby="rosterDescFormat"
				      place-holder="Enter a roster description."></textarea>
			    <span id="rosterDescFormat" class="help" style="visibility:hidden">
			      Enter a free text description of the roster.
			    </span>
			  </div>
			</div>
		      </div>
		    </div> <!-- div class = row -->
		    <div class="row">
		      <div class="col-md-3">
			<button type="button" class="btn btn-block btn-primary gp-main-button"
				id="new-schedule">
			  <h4>New Schedule</h4>
			</button>
			<button type="button" class="btn btn-block btn-primary gp-main-button"
				id="assign-schedule" disabled="disabled">
			  <h4>Assign Schedule</h4>
			</button>
			<button type="button" class="btn btn-block btn-primary gp-main-button"
				id="edit-schedule" disabled="disabled">
			  <h4>Edit Schedule</h4>
			</button>
		      </div>
		      <div class="col-md-8 well">
			<h3>Roster Schedules.</h3>
			<table class="table table-responsive table-bordered table-hover"
			       id="rosterScheduleTable">
			  <thead>
			    <tr>
			      <th>First Day</th>
			      <th>Last Day</th>
			      <th>Assigned To</th>
			      <th>Schedule Specification</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Tue Jun 21 2016</td>
			      <td>Tue Jun 28 2016</td>
			      <td>Drop Down</td>
			      <td>Popup</td>		      
			    </tr>
			  </tbody>
			</table>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col-md-11" id="clinicianRosterTable">
			<h3>Clinicians covered:</h3>
			<table class="table table-responsive table-hover table-bordered"
			       data-toggle="tool-tip" data-placement="top"
			       title="Select Clinicians being rostered.">
			  <thead>
			    <tr>
			      <th>Clinician</th>
			      <th>Selected</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Michael Webster</td>
			      <td><input class="form-control clinician-checkbox"
					 type="checkbox" name="selected-clinicians"></td>
			    </tr>
			  </tbody>
			</table>
		      </div>
		    </div>
		  </fieldset>		      
		</form>
	      </div>
	      <div class="panel-footer col-md-12">
		<div class="col-md-3">
		  <button type="button" class="btn btn-block btn-primary gp-main-button"
			  id="save-roster" disabled="disabled">
		    <h4>Save Roster</h4>
		  </button>
		</div>
		<div class="col-md-3">
		  <button type="button" class="btn btn-block btn-primary gp-main-button"
			  id="cancel-roster" disabled="disabled">
		    <h4>Cancel</h4>
		  </button>
		</div>
	      </div>
	    </div>
	  </div>
	  <!-- Individual Rosters: -->
	  <div role="tabpanel" class="tab-pane container-fluid" id="clinician-rosters">
	    <h3>View Clinician Rosters and Schedules:</h3>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class="container off-screen-right" id="new-schedule-view">
  <div class="page-header new-schedule-dialog">
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h2 class="panel-title">Create a new Schedule</h2>
      </div>
      <div class="panel-body">
	<form class="form-horizontal" id="newSchedule" method="POST" action="/new-schedule">
	  <fieldset>
	    <div class="row">
	      <div class="col-md-6">
		<div class="form-group">
		  <label for="schedFirstDate" class="col-md-3 control-label">
		    First Date:
		  </label>
		  <div class="col-md-7">
		    <input type="date" class="form-control" id="schedFirstDate" name="schedFirstDate"
			   data-toggle="tooltip" data-placement="top"
			   title="The date of the first day covered by this schedule."
			   auto-focus
			   aria-describedby="schedFirstDateFormat"/>
		    <span id="schedFirstDateFormat" class="help" style="visibility:hidden">
		      Date of first day covered by the new schedule.
		    </span>
		  </div>
		</div>
	      </div>
	      <div class="col-md-6">
		<div class="form-group">
		  <label for="schedLastDate" class="col-md-3 control-label">
		    Last Date:
		  </label>
		  <div class="col-md-7">
		    <input type="date" class="form-control" id="schedLastDate" name="schedLastDate"
			   data-toggle="tooltip" data-placement="top"
			   title="The date of the last day covered by this schedule."
			   aria-describedby="schedLastDateFormat"/>
		    <span id="schedLastDateFormat" class="help" style="visibility:hidden">
		      Date of last day covered by the new schedule.
		    </span>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="row">
	      <div class="col-md-10 col-md-offset-1">
		<ul class="nav nav-tabs" role="tablist" id="new-schedules">
		  <li role="presentation" class="active">
		    <a href="#weekly-sched-tab" aria-controls="home" role="tab"
		       data-toggle="tab">Weekly Schedule</a>
		  </li>
		  <li role="presentation">
		    <a href="#daily-sched-tab" aria-controls="profile" role="tab"
		       data-toggle="tab" id="cnr">Daily Schedule</a>
		  </li>
		</ul>
		<div class="tab-content">
		  <!-- Create Sched Tab. -->
		  <div role="tabpanel" class="tab-pane  active" id="weekly-sched-tab">
		    <div class="row">
		      <div class="panel panel-primary">
			<div class="panel-heading">
			  <h2 class="panel-title">Create a Weekly schedule</h2>
			</div>
			<div class="panel-body">
			  <table class="table table-responsive table-bordered table-hover"
				 id="new-weekly-schedule">
			    <thead>
			      <tr>
				<th>Weekday</th>
				<th>Rostered</th>
				<th>Start Time:</th>
				<th>End Time:</th>
				<th>Appt Duration:</th>
				<th>Breaks</th>
				<th>Action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
				<td>Monday</td>
				<td>
				  <input class="form-control clinician-checkbox"
					 type="checkbox" name="mon-rostered">
				</td>
				<td><input type="time" id="mon-start-time" name="mon-start-time"></td>
				<td><input type="time" id="mon-end-time" name="mon-end-time"></td>
				<td><input type="number" id="mon-appt-duration" name="mon-appt-duration"
					   min="1" max="1440"></td>
				<td>
				  <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button"
					    id="mon-breaks-dn" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
				      Breaks
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="mon-breaks-dn">
				      <li><a id="mon" class="btn btn-primary" href="#">Edit Breaks</a></li>
				    </ul>
				  </div>
				</td>
				<td>
				  <div class="btn-group-vertical btn-group-xs" role="group"
				       aria-label="Copy, paste or clear a day.">
				    <button type="button" class="btn btn-primary copy-btn"
					    id="mon-sched-copy">
				      Copy
				    </button>
				    <button type="button" class="btn btn-primary paste-btn" disabled>
				      Paste
				    </button>
				    <button type="button" class="btn btn-primary clear-btn">
				      Clear
				    </button>
				  </div>
				</td>
			      </tr>
			      <tr>
				<td>Tuesday</td>
				<td>
				  <input class="form-control clinician-checkbox"
					 type="checkbox" name="tues-rostered">
				</td>				
				<td><input type="time" id="tues-start-time" name="tues-start-time"></td>
				<td><input type="time" id="tues-end-time" name="tues-end-time"></td>
				<td><input type="number" id="tues-appt-duration" name="tues-appt-duration"
					   min="1" max="1440"></td>
				<td>
				  <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button"
					    id="tues-breaks-dn" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
				      Breaks
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="tues-breaks-dn">
				      <li><a id="tues" href="#">Edit Breaks</a></li>
				    </ul>
				  </div>
				</td>
				<td>
				  <div class="btn-group-vertical btn-group-xs" role="group"
				       aria-label="Copy, paste or clear a day.">
				    <button type="button" class="btn btn-primary copy-btn"
					    id="tues-sched-copy">
				      Copy
				    </button>
				    <button type="button" class="btn btn-primary paste-btn" disabled>
				      Paste
				    </button>
				    <button type="button" class="btn btn-primary clear-btn">
				      Clear
				    </button>
				  </div>
				</td>
			      </tr>
			      <tr>
				<td>Wednesday</td>
				<td>
				  <input class="form-control clinician-checkbox"
					 type="checkbox" name="wed-rostered">
				</td>				
				<td><input type="time" id="wed-start-time" name="wed-start-time"></td>
				<td><input type="time" id="wed-end-time" name="wed-end-time"></td>
				<td><input type="number" id="wed-appt-duration" name="wed-appt-duration"
					   min="1" max="1440"></td>
				<td>
				  <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button"
					    id="wed-breaks-dn" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
				      Breaks
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="wed-breaks-dn">
				      <li><a id="wed" href="#">Edit Breaks</a></li>
				    </ul>
				  </div>				
				</td>
				<td>
				  <div class="btn-group-vertical btn-group-xs" role="group"
				       aria-label="Copy, paste or clear a day.">
				    <button type="button" class="btn btn-primary copy-btn"
					    id="wed-sched-copy">
				      Copy
				    </button>
				    <button type="button" class="btn btn-primary paste-btn" disabled>
				      Paste
				    </button>
				    <button type="button" class="btn btn-primary clear-btn">
				      Clear
				    </button>
				  </div>
				</td>
			      </tr>
			      <tr>
				<td>Thursday</td>
				<td>
				  <input class="form-control clinician-checkbox"
					 type="checkbox" name="thurs-rostered">
				</td>				
				<td><input type="time" id="thurs-start-time" name="thurs-start-time"></td>
				<td><input type="time" id="thurs-end-time" name="thurs-end-time"></td>
				<td><input type="number" id="thurs-appt-duration" name="thurs-appt-duration"
					   min="1" max="1440"></td>
				<td>
				  <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button"
					    id="thurs-breaks-dn" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
				      Breaks
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="thurs-breaks-dn">
				      <li><a id="thurs" href="#">Edit Breaks</a></li>
				    </ul>
				  </div>
				</td>
				<td>
				  <div class="btn-group-vertical btn-group-xs" role="group"
				       aria-label="Copy, paste or clear a day.">
				    <button type="button" class="btn btn-primary copy-btn"
					    id="thurs-sched-copy">
				      Copy
				    </button>
				    <button type="button" class="btn btn-primary paste-btn" disabled>
				      Paste
				    </button>
				    <button type="button" class="btn btn-primary clear-btn">
				      Clear
				    </button>
				  </div>
				</td>
			      </tr>
			      <tr>
				<td>Friday</td>
				<td>
				  <input class="form-control clinician-checkbox"
					 type="checkbox" name="fri-rostered">
				</td>				
				<td><input type="time" id="fri-start-time" name="fri-start-time"></td>
				<td><input type="time" id="fri-end-time" name="fri-end-time"></td>
				<td><input type="number" id="fri-appt-duration" name="fri-appt-duration"
					   min="1" max="1440"></td>
				<td>
				  <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button"
					    id="fri-breaks-dn" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
				      Breaks
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="fri-breaks-dn">
				      <li><a id="fri" href="#">Edit Breaks</a></li>
				    </ul>
				  </div>				
				</td>
				<td>
				  <div class="btn-group-vertical btn-group-xs" role="group"
				       aria-label="Copy, paste or clear a day.">
				    <button type="button" class="btn btn-primary copy-btn"
					    id="fri-sched-copy">
				      Copy
				    </button>
				    <button type="button" class="btn btn-primary paste-btn" disabled>
				      Paste
				    </button>
				    <button type="button" class="btn btn-primary clear-btn">
				      Clear
				    </button>
				  </div>
				</td>
			      </tr>
			      <tr>
				<td>Saturday</td>
				<td>
				  <input class="form-control clinician-checkbox"
					 type="checkbox" name="sat-rostered">
				</td>				
				<td><input type="time" id="sat-start-time" name="sat-start-time"></td>
				<td><input type="time" id="sat-end-time" name="sat-end-time"></td>
				<td><input type="number" id="sat-appt-duration" name="sat-appt-duration"
					   min="1" max="1440"></td>
				<td>
				  <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button"
					    id="sat-breaks-dn" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
				      Breaks
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="sat-breaks-dn">
				      <li><a id="sat" href="#">Edit Breaks</a></li>
				    </ul>
				  </div>				
				</td>
				<td>
				  <div class="btn-group-vertical btn-group-xs" role="group"
				       aria-label="Copy, paste or clear a day.">
				    <button type="button" class="btn btn-primary copy-btn"
					    id="sat-sched-copy">
				      Copy
				    </button>
				    <button type="button" class="btn btn-primary paste-btn" disabled>
				      Paste
				    </button>
				    <button type="button" class="btn btn-primary clear-btn">
				      Clear
				    </button>
				  </div>
				</td>
			      </tr>
			      <tr>
				<td>Sunday</td>
				<td>
				  <input class="form-control clinician-checkbox"
					 type="checkbox" name="sun-rostered">
				</td>
				<td><input type="time" id="sun-start-time" name="sun-start-time"></td>
				<td><input type="time" id="sun-end-time" name="sun-end-time"></td>
				<td><input type="number" id="sun-appt-duration" name="sun-appt-duration"
					   min="1" max="1440"></td>
				<td>
				  <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button"
					    id="sun-breaks-dn" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
				      Breaks
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="sun-breaks-dn">
				      <li><a id="sun" href="#">Edit Breaks</a></li>
				    </ul>
				  </div>				
				</td>
				<td>
				  <div class="btn-group-vertical btn-group-xs" role="group"
				       aria-label="Copy, paste or clear a day.">
				    <button type="button" class="btn btn-primary copy-btn"
					    id="sun-sched-copy">
				      Copy
				    </button>
				    <button type="button" class="btn btn-primary paste-btn" disabled>
				      Paste
				    </button>
				    <button type="button" class="btn btn-primary clear-btn">
				      Clear
				    </button>
				  </div>
				</td>
			      </tr>
			    </tbody>
			  </table>

			</div>
			<div class="panel-footer col-md-12">
			  <button type="button" class="btn btn-primary"
				  id="saveWeeklySchedule">Save</button>
			  <button type="button" class="btn btn-primary"
				  id="clearWeeklySchedule">Clear</button>
			</div>
		      </div>
		    </div>
		  </div>

		  <div role="tabpanel" class="tab-pane" id="daily-sched-tab">
		    <div class="row">
		      <div class="panel panel-primary">
			<div class="panel-heading">
			  <h2 class="panel-title">Create Daily schedule</h2>
			</div>
			<div class="panel-body">
			  <table class="table table-responsive table-bordered table-hover"
				 id="new-daily-schedule">
			    <thead>
			      <tr>
				<th>Date:</th>
				<th>Start Time:</th>
				<th>End Time:</th>
				<th>Appt Duration:</th>
				<th>Breaks:</th>
				<th>Action:</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
				<td><input type="date" id="daily-date" name="daily-date"></td>
				<td>
				  <input type="time" id="daily-start-time" name="daily-start-time">
				</td>
				<td>
				  <input type="time" id="daily-end-time" name="daily-end-time">
				</td>
				<td>
				  <input type="number" id="daily-appt-duration" name="daily-appt-duration"
					 min="1" max="1440">
				</td>
				<td>
				  <div class="dropdown">
				    <button class="btn btn-default dropdown-toggle" type="button"
					    id="daily-breaks-dn" data-toggle="dropdown"
					    aria-haspopup="true" aria-expanded="false">
				      Breaks
				      <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="daily-breaks-dn">
				      <li><a href="#">Edit Breaks</a></li>
				    </ul>
				  </div>
				</td>
				<td>
				  <div>
				    <button type="button" class="btn btn-primary"
					    id="addDailySpec">Add</button>
				    <button type="button" class="btn btn-primary"
					    id="clearDailySpec">Clear</button>
				  </div>
				</td>
			      </tr>
			    </tbody>
			  </table>
			</div>
			<div class="panel-footer col-md-12">
			  <button type="button" class="btn btn-primary"
				  id="saveDailySchedule">Save</button>
			  <button type="button" class="btn btn-primary"
				  id="clearDailySchedule">Clear</button>
 			</div>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </fieldset>
	</form>
      </div>
      <div class="panel-footer">
	<button type="button" class="btn btn-primary"
		id="cancelNewSchedule">Cancel</button>
	<button type="button" class="btn btn-primary"
		id="doneSchedule">Done</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addBreakDialog" tabindex="-1" role="dialog"
     aria-labelledBy="addBreakLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="addBreakLabel">Add a clinician break:</h4>
      </div>
      <div class="modal-body">
	<label for="breakFirst" class="control-label"
	       style="padding:0px;margin-right:20px;">
	  Break Start:
	</label>
	<input type="time" id="startBreak" name="startBreak"
	       title="Start of a clinician break."
	       style="padding:0px;margin-right:20px;">
	<label for="breakLast" class="control-label"
	       style="padding:0px;margin-right:20px;">
	  Break End:
	</label>
	<input type="time" id="endBreak" name="endBreak"
	       title="End of a clinician break."
	       style="padding:0px;">
	<button type="button" class="btn btn-primary"
		id="saveBreak" style="margin-left:20px;">
	  Save Break
	</button>
	<h4>Break List:</h4>
	<table class="table table-bordered"
	       id="newSchedTable">
	  <thead>
	    <tr>
	      <th>Start Time</th>
	      <th>End Time </th>
	      <th>Remove</th>
	    </tr>
	  </thead>
	  <tbody>
	  </tbody>
	</table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default"
	      id="doneBreak">
	Done
      </button>
    </div>
    <div class="alert alert-warning alert-dismissible" role="alert" id="schedAlert"
	 style="display:none;position:absolute;left:100px;top:100px;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
      </button>
      <div>
	<strong>Error:&nbsp;</strong><p id="schedAlertText"></p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
