{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div id="patient-data" data-content="{{pat-data}}"></div>
  <div class="page-header gp-main" id="pat-record">
    <div class="row">
      <div class="col-lg-12" id="main-contents">
	<!-- <h1>{{new-heading}}</h1>-->
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist" id="patient-record-tabs">
	  <li role="presentation" class="active">
	    <a href="#details" aria-controls="home" role="tab" data-toggle="tab">Patient Details</a>
	  </li>
	  <li role="presentation">
	    <a href="#consultation" aria-controls="profile" role="tab" data-toggle="tab">Consult</a>
	  </li>
	  <li role="presentation">
	    <a href="#correspondence" aria-controls="messages" role="tab" data-toggle="tab">Correspondence</a>
	  </li>
	  <li role="presentation">
	    <a href="#billing" aria-controls="settings" role="tab" data-toggle="tab">Billing</a>
	  </li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  <!-- Details Tab. -->
	  <div role="tabpanel" class="tab-pane active" id="details">
	    <div class="row">
	      <div class="col-lg-12">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class= "col-sm-2 control-label">Name: </label>
		    <div class="col-sm-10">
		      <p class="form-control-static" id="patient-fullName"></p>
		    </div>
		  </div>  <!-- form group. -->
		  <div class="form-group">
		    <label class= "col-sm-2 control-label">Title: </label>
		    <div class="col-sm-10">
		      <p class="form-control-static" id="patient-title"></p>
		    </div>
		  </div>  <!-- form group. -->
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Address: </label>
		    <div class="col-sm-10">
		      <address id="pat-address"></address>
		    </div>
		  </div> <!-- form group. -->
		  <div class="form-group">
		    <label class= "col-sm-2 control-label">Medicare Number: </label>
		    <div class="col-sm-10">
		      <p class="form-control-static" id="patient-medicareNumber"></p>
		    </div>
		  </div>  <!-- form group. -->
		  <div class="form-group">
		    <label class= "col-sm-2 control-label">Date of Birth: </label>
		    <div class="col-sm-10">
		      <p class="form-control-static" id="patient-dob"></p>
		    </div>
		  </div>  <!-- form group. --> 
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Gender: </label>
		    <div class="col-sm-10">
		      <p class="form-control-static" id="patient-gender"></address>
		    </div>
		  </div> <!-- form group. -->
		</form>		
	      </div>	      
	    </div>
          </div>
	  <!-- Consultation. -->
	  <div role="tabpanel" class="tab-pane container-fluid" id="consultation">
	    <div class="row">
	      <div class="col-lg-12">
		<h3 id="consult-name"></h3>
		<div id="consult-content">
		    <textarea name="consult-editor1" id="consult-editor1">
		      This is the text area to be replaced.
		    </textarea>
		    <div class="form-group">
		      <div class="col-lg-10">
			<a href="/#" id="cancel-consult-note" class="btn btn-default">Cancel</a>
			<a href="/#" id="save-consult-note" class="btn btn-default">Save</a>
		      </div>
		    </div>
		</div>
	      </div>
	    </div>
	  </div>
	  <!-- Correspondence Tab. -->
	  <div role="tabpanel" class="tab-pane" id="correspondence">
	    <h3>Correspondence:</h3>
	  </div>
	  <!-- Billing. -->	  
	  <div role="tabpanel" class="tab-pane" id="billing">
	    <h3>Billing:</h3>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>	  
{% endblock %}
